<div class="dialog-project-container">
    <div class="dialog-project">

        <div class="info-text-container">
            <div class="headline">
                <h2>02</h2>
                <h3>JetFire</h3>
            </div>
            <p class="info-text">{{language ? whatIsQuestionE : whatIsQuestionDe}}</p>
            <p class="description-text">{{language ? descriptionE : descriptionDe}}</p>

            <div class="skills-container">
                <div><img src="/images/skills/skills-aqua/css.png" alt="">
                    <p>CSS</p>
                </div>
                <div><img src="/images/skills/skills-aqua/html (1).png" alt="">
                    <p>HTML</p>
                </div>
                <div><img src="/images/skills/skills-aqua/javascript.png" alt="">
                    <p>Javascript</p>
                </div>
            </div>

            <div class="btn-container">
                <button (click)="githubGame()">GitHub</button>
                <button (click)="showGame()">{{language ? liveTestE : liveTestDe}}</button>
                <button class="btn-heigth" (click)="nextProject()">{{language ? nextProjectE : nextProjectDe}} ⇾</button>
            </div>

            <div class="next-project">
                <button (click)="nextProject()">{{language ? nextProjectE : nextProjectDe}} ⇾</button>
            </div>
        </div>

        <div class="project-image-container">
            <img (click)="closePopup()" class="close-image" src="/images/menu_icons/close_small.png" alt="">
            <img class="project-image" src="/images/projects/jetFire.png" alt="">
            <button (click)="nextProject()">{{language ? nextProjectE : nextProjectDe}} ⇾</button>
        </div>

    </div>
</div>

