<div class="dialog-project-container">
    <div class="dialog-project">

        <div class="info-text-container">
            <h2>02</h2>
            <h3>JetFire</h3>
            <p class="info-text">What is this project about?</p>
            <p class="description-text">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign
                users and categories.</p>

            <div class="skills-container">
                <div><img src="/images/skills/skills-aqua/css.png" alt="">
                    <p>CSS</p>
                </div>
                <div><img src="/images/skills/skills-aqua/html (1).png" alt="">
                    <p>HTML</p>
                </div>
                <div><img src="/images/skills/skills-aqua/javascript.png" alt="">
                    <p>Javascript</p>
                </div>
            </div>

            <div class="btn-container">
                <button>GitHub</button>
                <button>Live Test</button>
            </div>

        </div>

        <div class="project-image-container">
            <img (click)="closePopup()" class="close-image" src="/images/menu_icons/close_small.png" alt="">
            <img class="project-image" src="/images/projects/jetFire.png" alt="">
            <button (click)="nextProject()">Next project ⇾</button>
        </div>

    </div>
</div>

