@import '../../../mixin.scss';

section {
    @include heightWidth($h: 50vh);
    background-color: $bg-color;
    display: flex;

    @media(max-width: 900px) {
    flex-direction: column;
    }
}

app-info-text {
    @include heightWidth($h: 100%, $w: 50%);
    @include dFlex();
    padding: 0 25px;

    @media(max-width: 900px) {
        @include heightWidth($h: 100%, $w: 100%);
        padding: 0 0;
        margin-bottom: 50px;
        }
}

app-email {
    @include heightWidth($h: 100%, $w: 50%);
    @include dFlex();
    padding: 0 25px;

    @media(max-width: 900px) {
        @include heightWidth($h: 100%, $w: 100%);
        padding: 0 0;
        }
}