@import '../../../mixin.scss';

section {
  @include heightWidth($h: auto, $w: 100%);
  @include dFlex();
  background-color: $bg-color;
  padding-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  flex-direction: column;
}

h3 {
  @include hHeadline($fs: 32px, $c: $text-aqua);
  @include firaFont($fw: 700);
  margin-bottom: 20px;
}

.feedback-container {
  @include heightWidth($w: 100%, $h: 30vh);
  @include dFlex($ai: center, $jc: space-around);
  position: relative;
  overflow-x: hidden;
  max-height: 350px;

  @media(max-height: 950px) {
    @include heightWidth($w: 100%, $h: 45vh);
  }
  @media(max-height: 630px) {
    @include heightWidth($w: 100%, $h: 55vh);
  }
  @media(max-height: 530px) {
    @include heightWidth($w: 100%, $h: 60vh);
  }

  .feedback-text {
    @include hHeadline($ta: start, $fs: 14px, $c: $white-dark);
    @include firaFont($fw: 400);
    margin-bottom: 20px;

    @media(max-width: 400px) {
      @include hHeadline($ta: start, $fs: 12px, $c: $white-dark);
      margin-bottom: 10px;
    }
  }

  .team-container {
    @include dFlex();
    width: 100%;
  }

  .team {
    @include hHeadline($ta: end, $fs: 12px, $c: $white-dark);
    @include firaFont($fw: 400);
    width: 100%;
  }

  .line {
    border: 1px solid $white-dark;
    width: 80%;

    @media(max-width: 600px) {
    display: none;
    }
  }
}

.bg-color {
  @include heightWidth($w: 100%, $h: 100%);
  position: absolute;
  z-index: 10;
  background: linear-gradient(90deg, rgba(28, 28, 28, 1) 0%, rgba(9, 9, 121, 0) 50%, rgba(28, 28, 28, 1) 100%);

  @media(max-width: 700px) {
  display: none;
  }
}

.slide {
  @include heightWidth($w: 400px, $h: auto);
  @include dFlex($ai: start, $jc: space-around);
  flex-direction: column;
  background-color: $text-aqua-hover;
  border-radius: 20px;
  border: 2px solid #3dcfb6;
  position: absolute;
  z-index: 1;
  transition: all 300ms ease-in-out;
  padding: 20px;
  line-height: 20px;

  @media(max-width: 600px) {
    @include heightWidth($w: 60%, $h: auto);
  }

  @media(max-width: 450px) {
    @include heightWidth($w: 65%, $h: auto);
    padding: 10px;
  }

  @media(max-height: 450px) {
    padding: 5px;
    @include heightWidth($w: 75%, $h: auto);
  }
}

.btn-container {
  @include dFlex($ai: center, $jc: space-around);
  width: 15vw;
  margin-top: 30px;
  max-width: 300px;

  @media(max-width: 600px) {
  width: 50%;
  }

  @media(max-height: 450px) {
  margin-top: 10px;
  }
}

.btn-container img {
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.btn-container img:hover {
  transform: scale(110%);
}

.btn-container p {
  margin: 0 5px;
  color: white;
  font-size: 24px;
}