@import '../../../../mixin.scss';

.who-i-am-headline {
    @include heightWidth($h: auto, $w: 100%);
    background-color: rgba(160, 160, 160, 0.432);
    margin-top: 80px;

    @media(max-width: 900px) {
        @include heightWidth($h: auto, $w: 50%);
        margin-top: 0;
    }

    @media(max-width: 750px) {
        @include heightWidth($h: auto, $w: 80%);
    }

    @media(max-width: 420px) {
        @include heightWidth($h: auto, $w: 90%);
    }
}


.my-story-container {
    @include heightWidth($h: 400px, $w: 100%);
    background-color: rgba(160, 160, 160, 0.432);

    @media(max-width: 900px) {
        @include heightWidth($h: 400px, $w: 50%);
    }

    @media(max-width: 750px) {
        @include heightWidth($h: 400px, $w: 80%);
    }

    @media(max-width: 420px) {
        @include heightWidth($h: 400px, $w: 90%);
    }
}