<div class="who-i-am-headline">
    <h4>{{language ? 'Who I Am' : 'Wer Ich bin'}}</h4>
</div>
<div class="my-story-container">

    <h3>{{language ? 'About me' : 'Über mich'}}</h3>

    <p class="info-text">{{language ? descriptionE : descriptionDe}}</p>

    <div class="info-text-container">
        <img src="/images/about-me/location_on.png" alt="Location">
        <p>{{language ? locationE : locationDe}}</p>
    </div>

    <div class="info-text-container">
        <img src="/images/about-me/cognition.png" alt="Cognition">
        <p>{{language ? cognitionE : cognitionDe}}</p>
    </div>

    <div class="info-text-container">
        <img src="/images/about-me/new_releases.png" alt="New Releases">
        <p>{{language ? newReleasesE : newReleasesDe}}</p>
    </div>

</div>