@import '../../../mixin.scss';

section {
    background-color: $bg-color;
    @include heightWidth($h: auto, $w: 100%);
    display: flex;

    @media(max-width: 900px) {
        flex-direction: column;
    }
}

app-my-picture {
    @include heightWidth($h: auto, $w: 50%);
    padding: 50px 50px;

    @media(max-width: 900px) {
        @include heightWidth($h: auto, $w: 100%);
        @include dFlex();
        padding: 50px 0;
    }
}

app-my-story-text {
    @include heightWidth($h: auto, $w: 50%);
    padding: 50px 50px;

    @media(max-width: 900px) {
        @include heightWidth($h: auto, $w: 100%);
        @include dFlex();
        flex-direction: column;
        padding: 50px 0;
    }
}