@import '../../../mixin.scss';

.skills-headline-container {
    background-color: $bg-color;
    padding-left: 70px;
    margin-bottom: 10px;

    @media(max-width: 900px) {
        padding-left: 10%;
    }

    h4 {
    @include hHeadline($ta: start, $fs: 24px, $c: $text-aqua);
    @include karlaFont($fw: 700);
    }
}

section {
    @include heightWidth($h: auto);
    @include dFlex($ai: start);
    padding-bottom: 20px;

    @media(max-width: 900px) {
        @include dFlex($ai: center);
        flex-direction: column;
    }
}

app-skill-text {
    @include heightWidth($h: auto, $w: 45%);
    padding: 0px 70px;

    @media(max-width: 900px) {
        @include heightWidth($h: auto, $w: 80%);
        padding: 0px 0px;
        @include dFlex();
    }

    @media(max-width: 750px) {
        @include heightWidth($h: auto, $w: 100%);
        flex-direction: column;
    }
}

app-skill-icons {
    @include heightWidth($h: auto, $w: 55%);
    padding-right: 70px;
    padding-left: 40px;

    @media(max-width: 900px) {
        @include heightWidth($h: auto, $w: 80%);
        @include dFlex();
        margin-bottom: 50px;
        padding-right: 0;
        padding-left: 0;
    }

    @media(max-width: 750px) {
        @include heightWidth($h: auto, $w: 100%);
    }
}