@import '../../mixin.scss';

.first-section {
    height: 100vh;
    max-height: 1080px;
    width: 100%;
    background-image: url('/images/background/bg_first.png');
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
   
}

.max-width {
max-width: 1920px;
width: 100%;
position: relative;
}

.center {
display: flex;
justify-content: center;
}

