@import '../../../mixin.scss';

section {
    height: auto;
    width: 100%;
    background-image: url('/images/background/bg_first.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.max-width {
    max-width: 1920px;
    width: 100%;
    position: relative;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    }

.privacy-text-container {
    margin: 96px 96px;
    @include hHeadline($ta: start, $fs: 16px, $c: $white-dark);
    @include karlaFont($fw: 400);

    @media(max-width: 950px) {
        margin: 96px 30px;
    }

    @media(max-width: 420px) {
        margin: 96px 10px;
    }

    p {
        @include hHeadline($ta: start, $fs: 16px, $c: $white-dark);
        @include karlaFont($fw: 400);
        margin-bottom: 10px;
    }

    h2 {
        @include hHeadline($ta: start, $fs: 50px, $c: $white-dark);
        @include firaFont($fw: 400);
        margin-bottom: 50px;
        margin-top: 100px;

        @media(max-width: 670px) {
            @include hHeadline($ta: start, $fs: 30px, $c: $white-dark);
            @include firaFont($fw: 400);
            margin-bottom: 50px;
        
        }

        @media(max-width: 420px) {
            @include hHeadline($ta: start, $fs: 24px, $c: $white-dark);
            @include firaFont($fw: 400);
            margin-bottom: 16px;
            margin-top: 0;
        }
    }

    h3 {
        @include hHeadline($ta: start, $fs: 30px, $c: $white-dark);
        @include firaFont($fw: 400);
        margin-bottom: 50px;
        margin-top: 50px;

        @media(max-width: 670px) {
            @include hHeadline($ta: start, $fs: 24px, $c: $white-dark);
            margin-bottom: 50px;
            margin-top: 50px;

        }

        @media(max-width: 420px) {
            @include hHeadline($ta: start, $fs: 20px, $c: $white-dark);
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }

    h4 {
        @include hHeadline($ta: start, $fs: 30px, $c: $white-dark);
        @include firaFont($fw: 400);
        margin-bottom: 50px;
        margin-top: 50px;

        @media(max-width: 670px) {
            @include hHeadline($ta: start, $fs: 24px, $c: $white-dark);
            margin-bottom: 50px;
            margin-top: 50px;
        }

        @media(max-width: 420px) {
            @include hHeadline($ta: start, $fs: 20px, $c: $white-dark);
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }

    h5 {
        @include hHeadline($ta: start, $fs: 30px, $c: $white-dark);
        @include firaFont($fw: 400);
        margin-bottom: 50px;
        margin-top: 50px;

        @media(max-width: 670px) {
            @include hHeadline($ta: start, $fs: 24px, $c: $white-dark);
            margin-bottom: 50px;
            margin-top: 50px;
        }

        @media(max-width: 420px) {
            @include hHeadline($ta: start, $fs: 18px, $c: $white-dark);
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }

    .ul {
        margin-bottom: 10px;
    }

    a {
        @include aLinks();
    }
}