<div [ngClass]="{'show-menu-popup' : openMenu}" class="menu-popup-container">
    <img (click)="closeMenuPopup()" class="close-icon" (mousemove)="hover_close_icon = false" (mouseleave)="hover_close_icon = true" src="{{hover_close_icon ? menu_close_icon : menu_close_icon_hover}}" alt="Close">

    <div class="nav-container">
        <a (click)="closeMenuPopup()" href="#aboutMe">{{language ? 'About me' : 'Über mich'}}</a>
        <a (click)="closeMenuPopup()" href="#skills">{{language ? 'Skills' : 'Fähigkeiten'}}</a>
        <a (click)="closeMenuPopup()" href="#projects">{{language ? 'Projects' : 'Projekte'}}</a>
    </div>

    <div class="btn-container">
        <button (click)="changelanguage('en')" class="btn" [ngClass]="{'bg-color-btn': language}">EN</button>
        <button (click)="changelanguage('de')" class="btn" [ngClass]="{'bg-color-btn': language == false}">DE</button>
    </div>

</div>
