<div class="info-text-container">
    <h5>{{language ? 'Contact me' : 'Kontaktiere mich'}}</h5>
    <h2>{{language ? 'Lets work together' : 'Lassen Sie uns zusammen - arbeiten'}}</h2>
    <h6>{{language ? 'Got a problem to solve?' : 'Haben Sie ein Problem zu lösen?'}}</h6>
    <p class="contact-me-text">{{language ? contactTextE : contactTextDe}}</p>
    <p class="talk-text">{{language ? 'Need a Fullstack developer?' : 'Brauchen Sie einen Fullstack-Entwickler?'}}<span>{{language ? 'Let’s talk!' : 'Lassen Sie uns sprechen!'}}</span></p>
</div>